*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Merriweather;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --tblack: #221E22;
    --tblue: #1098F7;
    --twhite: #FFFFFF;
    --tpink : #F93943;
    --tsilver: #DECCCC;
    --mytheme: #07f;
}

@import url('../broetown-signature-cdnfonts/Broetown\ Signature.ttf');

@font-face {
    font-family: "Broetown Signature";
    src: url('../broetown-signature-cdnfonts/Broetown\ Signature.ttf') format("truetype");
}

@font-face {
    font-family: 'Merriweather';
    src: url('../Merriweather_Sans/static/MerriweatherSans-Light.ttf') format("truetype");
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background: #bcf;

}

header{
    color: #bcf;
    height: 7vmax;
    background: #001829;
    display: grid;
    grid-template-columns: 50% 45%;
    justify-content: center;
    align-items: center;
}

header nav{
    width: 100%;
    font-family: 'Broetown Signature', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Courier, monospace;
    display: flex;
    justify-content: space-between;
    
}

header nav a{
    color: #bcf;
    text-decoration: none;
    font-size: 2vw;
    
}

header nav a:hover, header nav a:active{
    border-bottom: 2px solid rgb(115, 138, 165);
    color: rgb(115, 138, 165);
    padding-bottom: 5px;
    transition: .3s;
}

.title{
    width: 100%;
    font-family:  cursive;
    text-align: center;
    font-size: 4vw;
    font-family: 'Broetown Signature';
}


.s1{
    font-family:'Broetown Signature', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background:  #bcf;
    color: #001829;
    height: 70vh;
    box-sizing: border-box;

}

.s1 p{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 6vh;
    text-align: justify;
    padding: 2vw;
    font-family: 'Broetown Signature';
    justify-content: space-around;
    font-weight: 500;
    text-align: center;
    z-index: 2;


}

.s1 span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1 span img{
    width: 10%;
    height: 35%;
    border-radius: 50%;
}

#projects, #experience, .myTech, #contact {
    font-size: 3vmin;
    padding-top: 5vh;
    }


.myTech{
    width: 99%;
    height: 35vh;
    display: grid;
    grid-template-rows: 20% 60%;
    gap: 25px;


}

.myTech ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    list-style: none;
}



.services ul{
    width: 100%;
    list-style-type: none;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
}

.message{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 40% 60%;
    box-sizing: border-box;
    height: 35vh;
    font-size: 2.3vmin;
    margin-bottom: 5%;
    background:  #bcf;
    padding-bottom: 10vh;

}

.message h1{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 5vw;

}

.drpm{
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3,1fr );
    width: 90%;
    font-size: 2vw;
    font-family: 'Broetown Signature';
}

.drpm input{
    width: 10vw;
}


#experience{
    height: 35vh;
    color: #001829;
    background: #bbccff;
    display: grid;
    grid-template-rows: 10% 80%;
    padding-top: 0;
}

.experience-list{
    list-style: none;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 200vw;
    height: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    
}
.experience-head{
    width: 100vw;
}
.work-experience{
    color:  #bbccff;
    background: #001829;
    width: 33vw;
    margin-right: 0.05vw;
    border: 2px solid pink;
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
}
.sliders-box{
    position: relative;
    top: -15vh;
    width: 100vw;
    
}
.sliders{
    position: relative;
    font-size: 3rem;
    color: red;
    background: #bbccff;
    border-radius: 50% ;
    width: 150px;
    border: 2px solid green;
}
.slider-right{
    right: -300px;
    background: black
}
#contact{
    color: #bcf;
    background: black;
    height: 50vh;
    margin-top: -10vh;

}
#projects{
    height: 80vh;
    display: grid;
    grid-template-rows: 15% 45% 15%;
    box-sizing: border-box;
    padding-top: 25vh;
    transition: height 1s;
    background: #001829;
    color: #bcf;
}

#services{
    font-size: 3vmin;
    width: 100%;
    color: #001829;
    padding-bottom: 10vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

}

.serv{
    z-index: 2;

}


footer{
    margin-top: -4%;
    width: 100%;
    height: 45vh;
    background: rgb(68, 65, 65) ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
}

footer nav a {
    text-decoration: none;
}
footer div:nth-child(1), footer div:nth-child(2),footer div:nth-child(3){
    width: 20vw;
    height: 90%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1vw;

}

footer div:nth-child(4){
    width: 20vw;
    height: 90%;
    display: flex;
}

footer div:nth-child(1) a, footer div:nth-child(2) a,footer div:nth-child(3) a{
    color: black;
    text-decoration: none;

}

footer div h3{
    margin-bottom: 1vh;
}
footer div:nth-child(4) a{
    background: white;
    color: black;
    font-size: 1.5vw;
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5vw;
}

footer ul{
    list-style-type: none;
}


#footer{
    font-size: 4vmin;
    margin-top: -20vh;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
#footer nav{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 5vh;
}

.servtrans{
    background-image: url('../media/images/serv2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;

}
#footer nav a {
    background: white;
    color: black;
    font-size: 3vh;
    border-radius: 50%;
    height: 6vh;
    width: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5vw;
}

#contact h1{

    font-size: 4vmin;
}
.UL1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.UL1 li{
    margin-bottom: 3vh;
}

.UL1 li a{
    text-decoration: none;
    color: #bcf;
}



.reveal{
    width: 150px;
    margin:  auto;
    height: 55px;
    border-radius: 25px;
}
.spbtn{

    background: #bcf;
    outline: none;
    border: none;
    cursor: pointer;
    width: 9vw;
    height: 4vw;
    border-radius: 20px;
    font-size: 2vmin;
}

.drpm span{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 2vh;

}
.drpm span input{
    margin-left: 2vw;
}

header, #about, #projects, #experience, #myTech, #services, #contact, #footer{
    position: relative;

}

.curve{
    position: absolute;
    height: 30vh;
    width: 100%;
    bottom: 0;

}

.curve::before{
    content: ' ';
    display: block;
    position: absolute;
    border-radius:50%;
    width: 55%;
    height: 100%;
    background: #738AA5;
    transform: translate(85%, 61%);

}

.curve::after{
    content: ' ';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background: #bcf;
    transform: translate(-8.5%, 40%);
    z-index: -1;
}

.custom-shape-divider-top-1639129303 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1639129303 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 173px;
}

.custom-shape-divider-top-1639129303 .shape-fill {
    fill: #bcf;
}

.spacer{
    aspect-ratio: 1920/1200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#footer{
    background-image: url('../media/images/foot.svg');

}
.custom-shape-divider-top-1639232046 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1639232046 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-top-1639232046 .shape-fill {
    fill: #001829;
}
.flip {
    transform: rotate(180deg);
}

.expabv{
    position: relative;
    height: 20vh;
    width: 100%;

}

.expwave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.expwave svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 155px;
}

.expwave .shape-fill {
    fill: #001829;
}

.myTech{
    background: #001829;
    color: #bcf;
    width: 100%;
    height: 20vh;
}

.wrkDown{
    aspect-ratio: 900/300;
    height: 40vh;
    background-image: url('../media/images/last.svg');
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;

}

.blob-motion{
    margin: auto;
}

.skilltransit{
    height: 30vh;
    width: 100%;
    background-image: url('../media/images/tran.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.fcontact{
    text-decoration: none;
}


.fa-html5{
    color: orangered;
}

.fa-js-square{
    color: yellow;
}


.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background-color: white;
    padding: 0.6em;
    border-radius: 45%;
    animation: bounce 1s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
  
}

.show-link {
    visibility: visible;
    z-index: 100;
  }

.blob-motion{
    position: absolute;
    transform: translateY(-20%);
}

@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

.blob-motion{
    position: absolute;
    transform: translateY(-20%);
}