*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: Merriweather;
    font-weight: 100;
    --tblack: #221E22;
    --tblue: #1098F7;
    --twhite: #FFFFFF;
    --tpink : #F93943;
    --tsilver: #DECCCC;

}

@font-face {
    font-family: 'Merriweather';
    src: url('../Merriweather_Sans/static/MerriweatherSans-Light.ttf') format("truetype");
}

html{
    overflow-x: hidden;
}
body{
    background: #bcf;

}

header{
    color: #bcf;
    height: 7vmax;
    background: #001829;

}



#projects, #experience, .myTech, #contact {
    font-size: 3vmin;
    padding-top: 5vh;
    }
.myTech ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    list-style: none;
}

#experience{
    height: 20vh;
    color: #001829;
    background: #bbccff;
    display: grid;
    grid-template-rows: 10% 80%;
    padding-top: 0;
}

#experience ul{
    height: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact{
    color: #bcf;
    background: black;
    height: 50vh;
    margin-top: -10vh;

}
#projects{
    height: 80vh;
    display: grid;
    grid-template-rows: 15% 45% 15%;
    box-sizing: border-box;
    padding-top: 25vh;
    transition: height 1s;
    background: #001829;
    color: #bcf;
}

#services{
    font-size: 3vmin;
    width: 100%;
    color: #001829;
    padding-bottom: 10vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

}

.serv{
    z-index: 2;

}
#footer{
    font-size: 4vmin;
    margin-top: -20vh;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
#footer nav{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 5vh;
}

.servtrans{
    background-image: url('../serv2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30vh;

}
#footer nav a {
    background: white;
    color: black;
    font-size: 3vh;
    border-radius: 50%;
    height: 6vh;
    width: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5vw;
}

#contact h1{

    font-size: 4vmin;
}
.UL1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.UL1 li{
    margin-bottom: 3vh;
}

.UL1 li a{
    text-decoration: none;
    color: #bcf;
}



.reveal{
    width: 150px;
    margin:  auto;
    height: 55px;
    border-radius: 25px;
}
.spbtn{

    background: #bcf;
    outline: none;
    border: none;
    cursor: pointer;
    width: 9vw;
    height: 4vw;
    border-radius: 20px;
    font-size: 2vmin;
}

.drpm span{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 2vh;

}
.drpm span input{
    margin-left: 2vw;
}

header, #about, #projects, #experience, #myTech, #services, #contact, #footer{
    position: relative;

}

.curve{
    position: absolute;
    height: 30vh;
    width: 100%;
    bottom: 0;

}

.curve::before{
    content: ' ';
    display: block;
    position: absolute;
    border-radius:50%;
    width: 55%;
    height: 100%;
    background: #738AA5;
    transform: translate(85%, 61%);

}

.curve::after{
    content: ' ';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background: #bcf;
    transform: translate(-8.5%, 40%);
    z-index: -1;
}

.custom-shape-divider-top-1639129303 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1639129303 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 173px;
}

.custom-shape-divider-top-1639129303 .shape-fill {
    fill: #bcf;
}

.spacer{
    aspect-ratio: 1920/1200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#footer{
    background-image: url('../foot.svg');

}
.custom-shape-divider-top-1639232046 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1639232046 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-top-1639232046 .shape-fill {
    fill: #001829;
}
.flip {
    transform: rotate(180deg);
}

.expabv{
    position: relative;
    height: 20vh;
    width: 100%;

}

.expwave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.expwave svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 155px;
}

.expwave .shape-fill {
    fill: #001829;
}

.myTech{
    background: #001829;
    color: #bcf;
    width: 100%;
    height: 20vh;
}

.wrkDown{
    aspect-ratio: 900/300;
    height: 40vh;
    background-image: url('../last.svg');
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;

}

.blob-motion{
    margin: auto;
}

.skilltransit{
    height: 30vh;
    width: 100%;
    background-image: url('../tran.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}