*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --mytheme: #07f;
}
@import url('../broetown-signature-cdnfonts/Broetown\ Signature.ttf');

@font-face {
    font-family: "Broetown Signature";
    src: url('../broetown-signature-cdnfonts/Broetown\ Signature.ttf') format("truetype");
}

html {
    scroll-behavior: smooth;
}

body{
    background: rgb(115, 138, 165);
    overflow-x: hidden;
}
.fa-html5{
    color: orangered;
}

.fa-js-square{
    color: yellow;
}
.title{
    width: 100%;
    font-family:  cursive;
    text-align: center;
    font-size: 4vw;
    font-family: 'Broetown Signature';
}

header{
    height: 15vh;
    display: grid;
    grid-template-columns: 50% 45%;
    justify-content: center;
    align-items: center;
    color:#bcf;
    background: #000000;;
}
header nav{
    width: 90%;
    font-family: 'Broetown Signature', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Courier, monospace;
    display: grid;
    grid-template-columns: repeat(6,1fr);

}

header nav a{
    color: #bcf;
    text-decoration: none;
    font-size: 1.5vw;
    width: 5vw;
}

header nav a:hover, header nav a:active{
    border-bottom: 2px solid rgb(115, 138, 165);
    color: rgb(115, 138, 165);
    padding-bottom: 5px;
    transition: .3s;
}


.s1{
    font-family:'Broetown Signature', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background:  #bcf;
    color: #001829;
    height: 70vh;
    box-sizing: border-box;

}

.s1 p{
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 6vh;
    text-align: justify;
    padding: 2vw;
    font-family: 'Broetown Signature';
    justify-content: space-around;
    font-weight: 500;
    text-align: center;
    z-index: 2;


}

.s1 span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1 span img{
    width: 10%;
    height: 35%;
    border-radius: 50%;
}

.s2{

    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.projectContainer{
    margin-top: 2vh;
    height: 30vh;

}
.portfcont{
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 20px;
    box-sizing: border-box;

}

.project{
    display: grid;
    grid-template-rows: 80% 20%;

    height: 100%;
}
.projmst{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .5vw;
}



.projthumb{
    background: black;
}

.projDet{
    display: flex;
    flex-direction: column;
}

.Designs{
    background: #bcf;
    width: 99%;
    margin: auto;
    height: 50vh;
    margin-top: 2vh;
}

.DesignContainer{
    display: grid;
    height: 80%;
    box-sizing: border-box;
    grid-template-columns: repeat(3,1fr);
    gap: 2vw;
    padding: 2vw;
}

.designbox{
    background: var(--mytheme);
    height: 100%;
    display: grid;
    grid-template-rows: 70% 30%;
}

.designbox div{
    width: 100%;
    background: rgba(0, 0, 0, 0.707);
}

.myTech{
    width: 99%;
    height: 35vh;
    display: grid;
    grid-template-rows: 20% 60%;
    gap: 25px;


}

.myTechsub{
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;

}

.myTechsub div{
    border: 2px solid #bcf;
    display: grid;
    grid-template-rows: 50% 50%;
}

.services{
    width: 98%;
    height: 40vh;
    display: grid;
    position: relative;
    top: 30px;
    grid-template-rows: 30% 70%;
    padding-top: 5vh;
    justify-content: center;
}
.services ul{
    width: 100%;
    list-style-type: none;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
}

.message{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 40% 60%;
    box-sizing: border-box;
    height: 35vh;
    font-size: 2.3vmin;
    margin-bottom: 5%;
    background:  #bcf;
    padding-bottom: 10vh;

}

.message h1{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 5vw;

}

.drpm{
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3,1fr );
    width: 90%;
    font-size: 2vw;
    font-family: 'Broetown Signature';
}

.drpm input{
    width: 10vw;
}

footer{
    margin-top: -4%;
    width: 100%;
    height: 45vh;
    background: rgb(68, 65, 65) ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    font-size: 1.8vw;
}

footer nav a {
    text-decoration: none;
}
footer div:nth-child(1), footer div:nth-child(2),footer div:nth-child(3){
    width: 20vw;
    height: 90%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1vw;

}

footer div:nth-child(4){
    width: 20vw;
    height: 90%;
    display: flex;
}

footer div:nth-child(1) a, footer div:nth-child(2) a,footer div:nth-child(3) a{
    color: black;
    text-decoration: none;

}

footer div h3{
    margin-bottom: 1vh;
}
footer div:nth-child(4) a{
    background: white;
    color: black;
    font-size: 1.5vw;
    border-radius: 50%;
    height: 3vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5vw;
}

footer ul{
    list-style-type: none;
}

.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background-color: white;
    padding: 0.6em;
    border-radius: 45%;
    animation: bounce 1s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
  
}

.show-link {
    visibility: visible;
    z-index: 100;
  }

.blob-motion{
    position: absolute;
    transform: translateY(-20%);
}

@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

.blob-motion{
    position: absolute;
    transform: translateY(-20%);
}